*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}
.header {
  background:green;
  padding: 1.5rem 0;
  color: white;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 4rem;
  margin: 0 auto;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-links a {
  color:white;
  text-decoration: none;
  cursor: pointer;
}

.header-links a:hover {
  color: #9c9c9c;
}

.hero{
    padding: 100px;
    margin-top: 10px;
}
.hero__title{
    color:white;
}
.hero__description{
    color:whitesmoke;
}
#hero__highlight{
    color:greenyellow;
}


.feature {
    padding: 100px;
}
.feature__item{
    padding: 30px 0;
}
.feature__title{
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: green;
    margin-bottom: 10px;
    text-decoration: underline;
}
.cta{
    padding: 100px;
    background-color: green;
    color:#fff;
    text-align: center;
}
.cta__description{
    padding: 15px 0;
    color: aliceblue;
}
button{
    color: none;
    border: none;
}
.cta__button{
    padding: 10px 20px;
}

.programs{
    padding: 100px;
    background-color: #eee;
    padding-bottom: 200px;
}
.programs__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.programs__card{
    background-color: grey;
    padding: 30px;
    flex-basis: 30%;
   height: 400px;
}
.element{
    display: flex;
    justify-content: center;
    padding: 188px;
    gap: 60px;
    background-color:#fff;

}
.element__left{
    flex: 1;
}
.element__right{
    flex: 1;
}
.element__subtitle{
    color: grey;
    margin-top: 10px;
    margin-bottom: 30px;
}
.element__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.element__placeholder{
    background-color: grey;
    width: 100%;
    height: 100%;
}
.element__list{
    list-style-type: none;
    padding-left: 0;
}
.element__list-item{
    padding: 8px 0 ;
    border-bottom: 1px solid white;
    color: grey;
}
.element__list-item::before{
    content:"--" ;
    margin-right: 10px;
    color: green;
}
.element__form--group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.element__form--group lable {
    color: #333;
    font-weight: 500;

}
.element__form--group input , 
.element__form--group select {
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    font-family: inherit;
}
.element__form--group input  :focus,
.element__form--group select :focus{

outline: none;
border-color: green;
box-shadow: 0 8 0 2px rgba(52 ,199 ,89 ,0.2);
}
.element__form--group select{
    cursor: pointer;
    background-color: white;
}
.element__form--group option{
    padding: 8px;

}
.element__button{
    background-color: green;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}
.element__button:hover{
    background-color: green;
}
.hero{
    height: 50vh;
  background-image:linear-gradient(rgba(0, 0, 1, 0.5), rgba(0, 0, 0, 0.5)),   url(./images/89.png) ;
    background-size: cover;
  /* background-color: rgba(0,0,2,2,0.75);*/
   
    
    text-align: center;
    align-content: center;
}
.feature{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.feture__container{
    flex-basis: 50%;
}
.feature__image-container{
    flex-basis: 50%;
    border-radius: 9px;
   
}
.feature__image-container{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;}
.cta__title{
    font-size:24px;
    font-weight: 400;
}
.cta_button--primary:hover{
    background-color: white;
    cursor: pointer;
}
.programs__card{
    background: none;
    padding: 0;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
    height:500px;
    border-radius: 8px;
}
.programs__card-img{
    width: 100%;
    height: 700px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.programs__card--description{
    color: grey;
    font-weight: 300;
    margin-bottom: 15px;


}
.program__button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;

}
.program__button:hover{
    background-color:grey;
}
.element__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}
hot {
  background: #1d1d1d;
  color: #fff;
}

.hot-title {
  margin-bottom: 1rem;
}

.hot-subtitle {
  margin-bottom: 2rem;
  color: #666;
}

.hot-card {
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.hot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hot-flex {
  display: flex;
  gap: 1rem;
  height: 600px;
  width: 100%;
}

.hot-left {
  flex: 0 0 50%;
  border-radius: 8px;
  overflow: hidden;
}

.hot-right {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hot-right-inner {
  display: flex;
  gap: 1rem;
  height: 50%;
}


.hot-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 600px;
}

.hot-grid-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.hot-grid-2 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-3 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-4 {
  grid-column: span 2;
  grid-row: span 1;
}
footer {
  background:green;
  color:white;
  margin-top: 20px;
}

footer p {
  max-width: 1500px;
  padding: 2rem 4rem;
  text-align: center;
}