* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e89da4;
  font-family: "Reem Kufi Ink", sans-serif;
  display: flex;
  justify-content: center;
  align-items: right;
  padding: 40px 20px;
}
/*box content*/
.box {
  background-color: #ffd4d4;
  background-image: url("./assets/new.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 30px;
  max-width: 650px;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  
}

.title {
  text-align: center;
  color: #a52a2a;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Carter One", cursive;
}


.input-add {
  display: flex;
  align-items: center;
  background-color: #fddddd;
  border-radius: 50px;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.input-add input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  background-color: transparent;
}

.input-add .add-button {
  background: none;
  border: none;
  cursor: pointer;
}

.input-add .add-button i {
  width: 40px;
  height: 20px;
  color: white;
  
  font-size: 30px;
  border-radius: 50%;
}

.status-text {
  text-align: center;
  font-size: 14px;
  color:#a52a2a;
  margin-bottom: 20px;
}

/*todo lists*/

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  background-color: #fddddd;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list span {
  font-size: 16px;
  color: grey;
}

.list .button {
  display: flex;
  gap: 10px;
}

.list .button button {
  background: none;
  border: none;
  cursor: pointer;
}

.list .button i{
  width: 40px;
  height: 20px;
  color: white;
  font-size: 25px;
}

.bunny {
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.bunny img {
  width: 100px;
  height: auto;
  opacity: 60%;
  
  
  
  
  

  
  
}

/* Responsive */
@media (max-width: 552px) {
  .box {
    padding: 20px;
  }

  .title {
    font-size: 20px;
  }

  .input-add input {
    font-size: 14px;
  }

  .list span {
    font-size: 14px;
    
  }
  .bunny img {
    width: 80px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .box {
    padding: 15px;
  }

  .title {
    font-size: 18px;
  }

  .input-add input {
    font-size: 12px;
  }

  .list span {
    font-size: 12px;
  }
  
  .bunny img {
    width: 60px;
    height: auto;
  }
}